.contact_section{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    .section_title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        .title_text{
            font-size: 2.5em;
            position: relative;
            padding-bottom: .1em;
        }
        .title_text::after{
            content: '';
            position: absolute;
            border-bottom: 4px solid black;
            width: 100px;
            bottom: 0;
            left: 50%;
            margin-left: -50px;
        }
        
    }

    .contact_grid{
        margin-top: 2em;
        display: flex;

        .contact_info{
            width: 50%;
            background-color: black;
            color: #fff;
            padding: 2em;
            h2{
                margin-bottom: 1em;
            }
            p{
                padding-bottom: 1em;
            }
        }

        .contact_form{
            padding: 2em;
            background-color: #fff;
            width: 50%;
            font-weight: 500;
        }
        .contact_form > form{
            display: flex;
            flex-direction: column;
        }
        .contact_form > form input{
            border: none;
            border-bottom: 3px solid blue;
            margin-bottom: 1em;
        }
        .contact_form > form input:focus{
            outline: none;
            border-bottom: 3px solid rgb(20, 20, 99);
        }

        .contact_form > form textarea{
            border-color: blue;
            border-width: 3px;
            resize: none;
            margin-bottom: 1em;
        }

        .contact_form > form textarea:focus{
            outline: none;
            border: 3px solid rgb(20, 20, 99);
        }
        .contact_form > form > button{
            display: inline-block;
            background-color: #0032FC;
            border-radius: 50px;
            padding: 1em;
            transition: background-color .8s;
            color: #fff;
            border: none;
        }
        .contact_form > form > button:hover{
            background-color: #06207e;               
        }
    }
}

@media screen and (max-width:768px){

    .contact_section{
        .contact_grid{
            flex-direction: column;
            .contact_info{
                width: 100%;
            }    
            .contact_form{
                width: 100%;
            }
        }
}
 
 }