@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
   font-family: 'Roboto', sans-serif;
   background-color: #ccc7c7;
  }

*, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



