$intro-background-color: rgba(0,0,0,.8);
$humberger-icon-transition-time: .5s;
$ul-hover-color: #16ffff;

.landing_section{
    position: relative;
    height: 100vh;
    width: 100%; 

    .title{
        display: flex;
        align-items: center;
    }
    .title img{
        width: 100px;
    }
    .title a{
        font-size: 1.5em;
        font-weight: 500;
        padding-left: .1em;
    }

     //background image
    .landing_section_img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $intro-background-color;
        background-image: url('/landing_img.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        overflow: hidden;      
    }

    .landing_section_inner{
        z-index: 100;
        position: absolute;
        left: 0;
        right: 0;
        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;

        .navbar_lg{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 1.5em;
        }

        .navbar_lg ul{
            list-style-type: none;
        }

        .navbar_lg a{
            color: #fff;
        }

        .ul_lg{
            display: flex;
            justify-content: space-around;
        }
        .ul_lg a{
            padding-right: 2em;
            transition: color .5s ease-in;
            font-size: 1.2em;
        }

        .ul_lg a:hover{
            color: $ul-hover-color;
        }

        .intro_group{
            position: absolute;
	        top: 50%;
	        transform: translateY(-50%);
        }

        .intro_text {
            .intro_txt_lg{
                font-size: 3.2em;
                font-weight: bold;
                color: #fff;
            }
            .intro_txt_sm{
                color: #fff;
                margin-top: 2em;
                font-size: 1.3em;
            }
        }

        .intro_btn{
            display: inline-block;
            background-color: #0032FC;
            margin-top: 3em;
            border-radius: 50px;
            padding: 1em;
            transition: background-color .8s;
        }
        .intro_btn:hover{
            background-color: #06207e;               
        }

        .intro_btn span{
            color: #fff;
            text-align: center;
        }
    }
}

.landing_section::after{
    content:'';
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;   
}

.navbar_sm{
    padding-top: 1.5em;
    position: relative;
    //styles for humbeger icon
    .group{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title a{
            color: #fff;
        }
        .humberger_icon{
            width: 3em;
            height: 2em;
            .first_line{
                border-top: 2px solid #fff;
                padding-bottom: .8em;
                transition: padding $humberger-icon-transition-time;
            }
            .second_line{
                border-top: 2px solid #fff;
                padding-bottom: .8em;
                width: 80%;
                transition: padding $humberger-icon-transition-time;
            }
            .third_line{
                border-top: 2px solid #fff;
                width: 40%;
            }
            .close{
                color: white;
                font-size: 2.5em;
                text-align: center;
                margin-top: -15px;
                font-weight: 100;
                transition: font-size $humberger-icon-transition-time;
            }
        }
    }
     
    .ul_sm{
        border-bottom: 1px solid white;
        position: absolute;
        width: 100%;
        background-color: rgba(0,0,0,.9);
        z-index: 200;
    }
    .ul_sm a{
        color: #fff;
        transition: color .5s ease-in;
        font-size: 1.2em;
    }
    .ul_sm li{
        padding-bottom: .5em;
    }
    .ul_sm a:hover{
        color: $ul-hover-color;
    }
  
}

.navbar_sm ul{
    list-style-type: none;
}


@media screen and (max-width:768px){

    .navbar_lg{
        display: none !important;
    }
    
    .intro_text {
        margin-top: 30% !important;
        .intro_txt_lg{
            font-size: 3em !important;
        }           
    }
 
 }

@media screen and (min-width:769px){

    .navbar_sm{
        display: none ;
    }
    
        .title a{
            margin-right: 1.2em;
        }
    
 
 }

 @media screen and (max-width:360px){
    
    .intro_text {
        .intro_txt_lg{
            font-size: 2.5em !important;
        }           
    }

    .intro_btn{
        padding: .5em !important;
    }
    .intro_btn span{
        font-size: 1em !important;
    }
    .title a{
        font-weight: 400 !important;
    }
 
 }

 @media screen and (max-width:320px){
    
    .intro_text {
        .intro_txt_lg{
            font-size: 2em !important;
        }           
    }
 
 }

 @media (max-width: 480px){
    .title img{
        width: 80px !important;
    }
    .title a{
        font-size: 1.3em !important;
    }

 }



