.progress_indicator{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    border-right: 2px solid rgb(55, 55, 189);
    animation: rotateDiv 1s infinite;
}



@keyframes rotateDiv {
    from{
        transform: rotate(-360deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}